.blog {
  height: 110px;
  border: 2px solid lightgrey;
  overflow: hidden;
}

.repo {
  border: 3px solid #333;
  border-radius: 12px;
  margin: 2.5px
}

.repHolder {
  margin-left:auto;
  margin-right:auto;
  display:block;
}
