.blog {
  height: 110px;
  border: 2px solid lightgrey;
  overflow: hidden;
}

.margin {
  margin-left: 5px;
  padding-right: 5px
}

img {
	max-width: 30px;
	max-height: 30px;
}

#clickerText {
  border:  2px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}
